# Ignore Frontend Data folder (containing img/fg/bg thumbnails)
frontend/Data/

# macOS junk files
.DS_Store

# Ignore everything in docs/
docs/**

# BUT track PDF files
!docs/**/*.pdf


# Private TeX stored in Google Drive
docs/tex/

.venv/